{% extends "calendar.html" %}
{% load static %}
{% block content %}
    <h1>Create Event</h1>
    <form method="post" action="{% url 'event_create' %}">
        {% csrf_token %}
        <label>Title:</label>
        <input type="text" name="title" required>
        <br>
        <label>Description:</label>
        <textarea name="description" required></textarea>
        <br>
        <label>Start Time:</label>
        <input type="datetime-local" name="start_time" required>
        <br>
        <label>End Time:</label>
        <input type="datetime-local" name="end_time" required>
        <br>
        <label for="timezone">Timezone:</label>
        <select id="timezone" name="timezone">
            {% for tz in timezone_choices %}
                <option value="{{ tz.0 }}">
                    {{ tz.1 }}
                </option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Create Event</button>
    </form>
{% endblock content %}